:root {
  --primary-background-color: #272727;
  --secondary-background-color: #1d1d1d;
  --blue-sage-blue: #4153b3;
  --sage-blue-inactive: rgba(65, 82, 179, 0.3);
  --sage-blue-hover: rgba(65, 82, 179, 0.6);
}

@font-face {
  font-family: 'title';
  src: url(./fonts/Galada-Regular.ttf);
}

@font-face {
  font-family: 'display';
  src: url(./fonts/UnicaOne-Regular.ttf);
}

@font-face {
  font-family: 'baskerville';
  src: url(./fonts/Baskervville-Regular.ttf);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 20px;
  text-align: center;
}

header h1 {
  font-size: 6rem;
  font-family: 'title';
  font-weight: normal;
  color: var(--blue-sage-blue);
  text-shadow: 0 0 6px white;
  margin-bottom: -50px;
}

header p {
  color: white;
  font-family: 'display';
  font-size: 1.7rem;
}

.pageTabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.tabBtn {
  width: 115px;
  height: 50px;
  background-color: var(--sage-blue-inactive);
  color: white;
  border: none;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  font-family: 'baskerville';
  font-size: 1.2rem;
}

.tabBtn:hover {
  background-color: var(--sage-blue-hover);
}

.tabBtn.active {
  background-color: var(--blue-sage-blue);
}

.tabBtn.active:hover {
  background-color: var(--blue-sage-blue);
}

main {
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 45px 30px 50px;
  background: linear-gradient(to bottom, var(--blue-sage-blue), var(--blue-sage-blue) 5px, var(--primary-background-color) 5px);
  border-top: 5px solid var(--blue-sage-blue);
  border-radius: 8px;
  text-align: center;
  color: white;
}

main p {
  font-family: 'baskerville';
  font-size: 1.5rem;
}

.welcome {
  font-size: 2.5rem;
}

.outsidePic {
  background-image: url(./imgs/building.jpeg);
  height: 400px;
  width: 400px;
  background-position: center;
  background-size: cover;
  margin: 50px auto 20px;
}

.address {
  font-size: 2rem;
  white-space: pre-line;
}

main hr {
  height: 2px;
  border: none;
  background-color: var(--blue-sage-blue);
  width: 150px;
  margin: 50px auto;
}

.hours {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: max(50px, 8vw);
  white-space: pre-line;
}

.meal {
  font-weight: 700;
  text-decoration: underline;
}

.lunch {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 20px;
}

.mealMenu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu {
  height: 800px;
  width: 560px;
  background-position: center;
  background-size: cover;
}

.lunchFront {
  background-image: url(./imgs/lunch-menu.png);
}

.lunchBack {
  background-image: url(./imgs/lunch-menu-back.png);
}

.dinner {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 20px;
  margin-top: -10px;
}

.dinnerFront {
  background-image: url(./imgs/dinner-menu.png);
}

.dinnerBack {
  background-image: url(./imgs/dinner-menu-back.png);
}